@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/antique-olive-std?styles=15900');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-image: url("img/background.png");
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    /* width: 100vw; */
}

.up {
    display: flex;
    width: 64%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 1.5vh;

}

.logo {
    height: 3.6vh;
}

.up ul {
    display: flex;
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
    padding: 1.2vw;
    font-size: 1.7vh;
    font-weight: 500;
}

li a:hover {
    text-decoration: underline;
}

.up button {
    border-radius: 30vw;
    padding-inline: 1.5vw;
    padding-block: 1.2vh;
    border: 0px solid white;
    font-size: 1.4vh;
    font-weight: 600;
}

.up button a:hover {
    color: blue;
}

.up button:hover>a,
.footer-register button:hover>a {
    color: blue;
}

.up button:hover,
.footer-register button:hover {
    box-shadow: 2px 2px blue;
}

.middle {
    width: 52%;
    margin: 15vh auto 0 auto;
    text-align: center;
}

.middle h1 {
    color: white;
    font-size: 5.7vh;
    width: 70%;
    font-weight: 700;
    line-height: 0.9;
    margin: 0 auto 5vh;
    /* font-family: 'Antique Olive Std', sans-serif; */
}

.middle p {
    color: white;
    width: 80%;
    margin: auto;
    line-height: 180%;
    font-size: 2vh;
    font-weight: 600;
}

.middle button {
    border-radius: 30vw;
    border: 0px;
    font-size: 2vh;
    padding-inline: 3.5vw;
    padding-block: auto;
    height: 6vh;
    margin: 3vh 1vw 15vh 1vw;
}

.middle button:hover a,
.section.last button:hover a,
.section.last button:hover span {
    color: blue;
}

.middle button:hover,
.section.last button:hover {
    box-shadow: 5px 5px blue;
}

.middle button span {
    vertical-align: middle;
    font-size: 2.2vh;
}

.dark {
    background-color: #23272a;

}

.dark a,
.footer-register button a {
    color: white;
}

.light a {
    color: #23272a;

}

.section {
    display: flex;
    width: 64%;
    margin: 0 auto;
    gap: 9vw;
    align-items: center;
    justify-content: center;
    padding-block: 12vh;
}

.section img {
    flex-basis: 60%;
}

.side-text {
    flex-basis: 22%;
}

.side-text h2 {
    font-size: 4vh;
    padding-bottom: 30px;
    font-weight: 800;
    color: #23272a;
}

.side-text p {
    font-size: 1.8vh;
    font-weight: 500;
    line-height: 160%;
}


main section:nth-of-type(even) {
    background-color: #f6f6f6;
}

main section:nth-of-type(even) .side-text {
    background-color: #f6f6f6;
    order: -1;
}


footer {
    background-color: #23272a;
}

.section.last {
    flex-direction: column;
    justify-content: center;
}

.section.last .side-text {
    margin: 0 auto;
    text-align: center;
}

.section.last .side-text p {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: -18vh;
}

.section.last .cth {
    margin-top: -11vh;
    display: flex;
    flex-direction: column;
}

.section.last h3 {
    font-size: 2.7vh;
    padding-block: 5vh;
    padding-inline: 5vh;
    background-image: url(img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.section.last button {
    text-align: center;
    /* width: 5vw; */
    align-self: center;
    margin-top: -3vh;
    border-radius: 30vw;
    padding: 1.5vh 3.0vw;
    background-color: #8ea1e1;
    border: 0px solid white;
    color: white;
    font-size: 1.8vh;
}

.section.last button span {
    vertical-align: middle;
    font-size: 2vh;
}

.section.last button span a {
    color: white;
    font-weight: 550;
}

.footer-container,
.footer-register {
    width: 64%;
    margin: 0 auto;
    padding-top: 10vh;
    display: flex;
}

.footer-container h3,
.footer-container h4 {
    color: #7289da;
}

.footer-container h3 {
    font-size: 3vh;
}

#language-selection {
    padding-block: 1.5vh;
}

#language-selection img {
    height: 2vh;
    vertical-align: middle;
}

#language-selection input[list] {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: 0px solid white;
    width: 5vw;
    font-size: 2vh;
    vertical-align: middle;
}

::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

.socials {
    display: flex;
    gap: 1vw;
}

.socials img {
    width: 1.5vw;

}

.footer-container {
    border-bottom: 2px solid #4a5882;
    padding-bottom: 2vh;
    display: flex;

}

.list-container ul {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.5vh;
    padding-block: 0.5vh;
}

.list-container ul li {
    text-decoration: none;
    list-style-type: none;
    padding-block: 0.6vh;
}

.list-container ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.list-container h5 {
    color: #7289da;
    font-size: 1.7vh;
}

nav {
    display: flex;
}

.footer-menu {
    flex-basis: 25%;
}

nav {
    flex-basis: 65%;
    display: flex;
    justify-content: space-around;
}

.footer-register {
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 10vh;
}

.footer-register button {
    border-radius: 30vw;
    padding-inline: 1.5vw;
    padding-block: 1.2vh;
    border: 0px solid white;
    font-size: 1.4vh;
    font-weight: 600;
    background-color: #8ea1e1;
}